:root{
    --bs-body-font-family: "Roboto", sans-serif;
    --bs-body-font-weight: 300;
  }
  
  a {
      color: #001443;
      text-decoration: none;
  }
  a:hover {
      color: #ffcc55;
      text-decoration: underline;
  }
  
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: 700;
  }
  h2,
  h3 {
      font-size: 1rem;
  }
  
  h3 a{
      font-weight: 700;
  }
  
  h4{
      font-size: 0.9rem;
  }
  
  header h4 {
      font-weight: 300;
  }
  header h4 a {
      font-weight: 700;
  }
  
  h1 {
      font-family: "Merriweather", serif;
      font-size: 3.125rem;
      font-weight: 700;
  }
  p.lead {
      font-family: "Merriweather", serif;
      font-weight: 400;
      font-size: 1.1rem;
  }
  address {
      font-family: "Times New Roman", Times, serif;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: 0.035rem;
  }
  address a {
      font-style: italic;
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
  .st01{fill:#383838;}
  .st11{font-family:'Roboto';font-weight: 700;}
  .st21{font-size:14px;}
  .st31{opacity:0.5;}
  .st41{font-family:'Roboto';font-weight: 700;}
  .st51{fill:#231F20;stroke:#231F20;stroke-miterlimit:10;}
  .st61{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:square;stroke-miterlimit:1;}
  .st71{fill:#231F20;}
  .st81{font-family:'Roboto';font-weight: 300;}
  .st91{fill:#77787B;}

  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
  .st02{opacity:0.5;enable-background:new    ;}
  .st12{font-family:'Roboto';font-weight:300;}
  .st22{font-size:12px;}
  .st32{opacity:0.5;fill:#383838;enable-background:new    ;}
  .st42{font-family:'Roboto';font-weight: 700;}
  .st52{font-size:14px;}
  .st62{opacity:0.5;fill:none;stroke:#FF513F;stroke-width:1.5;stroke-miterlimit:10;enable-background:new    ;}
  .st72{fill:none;stroke:#C4C5C7;stroke-width:2;stroke-miterlimit:10;}
  .st82{font-size:16px;}
  .st92{opacity:0.5;}
  .st102{font-family:'Roboto';font-weight: 300;font-style:italic;}
  .st112{font-size:10px;}
  .st122{fill:none;stroke:url(#SVGID_1_);stroke-width:4;stroke-miterlimit:10;}
  .st132{fill:url(#SVGID_2_);}
  .st142{fill:none;stroke:url(#SVGID_3_);stroke-width:4;stroke-miterlimit:10;}
  .st152{fill:url(#SVGID_4_);}
  .st162{fill:none;stroke:url(#SVGID_5_);stroke-width:4;stroke-miterlimit:10;}
  .st172{fill:url(#SVGID_6_);}
  .st182{fill:url(#SVGID_7_);}
  .st192{fill:url(#SVGID_8_);}

  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
  .st03{fill:none;stroke:#C3C4C6;stroke-width:2;stroke-miterlimit:10;}
  .st13{opacity:0.5;fill:#383838;enable-background:new    ;}
  .st23{font-family:'Roboto';font-weight: 700;}
  .st33{font-size:14px;}
  .st43{font-size:16px;}
  .st53{opacity:0.5;fill:none;stroke:#FF513F;stroke-width:1.5;stroke-miterlimit:10;enable-background:new    ;}
  .st63{opacity:0.5;}
  .st73{font-family:'Roboto';font-weight: 300;font-style:italic;}
  .st83{font-size:10px;}
  .st93{opacity:0.5;enable-background:new    ;}
  .st103{font-family:'Roboto';font-weight: 300;}
  .st113{font-size:12px;}
  .st123{fill:none;stroke:url(#SVGID_1_);stroke-width:4;stroke-miterlimit:10;}
  .st133{fill:url(#SVGID_2_);}
  .st143{fill:url(#SVGID_3_);}

  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
  .st04{fill:none;stroke:#C3C4C6;stroke-width:2;stroke-miterlimit:10;}
  .st14{font-family:'Roboto';font-weight: 700;}
  .st24{font-size:16px;}
  .st34{opacity:0.5;fill:#383838;enable-background:new    ;}
  .st44{font-size:14px;}
  .st54{opacity:0.5;}
  .st64{font-family:'Roboto';font-weight: 300;font-style:italic;}
  .st74{font-size:10px;}
  .st84{opacity:0.5;enable-background:new    ;}
  .st94{font-family:'Roboto';font-weight: 300;}
  .st104{font-size:12px;}
  .st114{fill:url(#SVGID_1_);}
  .st124{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:square;stroke-miterlimit:1;}
  .st134{fill:#383838;}

  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
  .st0{opacity:0.5;fill:#FF513F;enable-background:new    ;}
  .st1{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
  .st2{opacity:0.4;fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;enable-background:new    ;}
  .st3{fill:#383838;stroke:#FFFFFF;stroke-miterlimit:10;}
  .st4{opacity:0.5;}
  .st5{fill:#383838;}
  .st6{font-family:'Roboto';font-weight: 300;}
  .st7{font-size:12px;}
  .st8{fill:#4D4D4D;}
  .st9{font-size:14px;}
  .st10{font-family:'Roboto';font-weight: 700;}
  .st11{fill:none;stroke:#383838;stroke-width:0.5;stroke-miterlimit:10;}
  .st12{fill:#FFFFFF;stroke:#383838;stroke-miterlimit:10;}